name: Run Hello World in python
on : push

jobs:
  Hello:
    runs-on: ubuntu-latest

    steps:
    - name: Clone Repo
      uses: actions/checkout@v6

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    
    - name: Run a python script
      run: python hello.py